<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/logo-sk.png" height="45" width="250"/>
      </div>
      Skillsalizer
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>
    <li>
      <a routerLink="consultants">
        <i class="ti-arrow-top-right"></i>
        <p>Consultants</p>
      </a>
    </li>

    <li>
      <a routerLink="skills">
        <i class="ti-arrow-top-right"></i>
        <p>Skills</p>
      </a>
    </li>
    <li>
      <a routerLink="sktypes">
        <i class="ti-arrow-top-right"></i>
        <p>Skills Types</p>
      </a>
    </li>
    <li>
      <a routerLink="sklevels">
        <i class="ti-arrow-top-right"></i>
        <p>Skills Levels</p>
      </a>
    </li>


  </ul>
</div>

